<html>

<head>
    <title>Chrome Web Log</title>
</head>

<body>
    <span id='variableJSON' hidden>
        <%= JSON.stringify(logs); %>
    </span>
    <div style="max-width: 800px;max-height: 800px;">
        <canvas id="myChart" width="800px" height="800px"></canvas>
    </div>
    <script>
        var isChrome = /Chrome/.test(navigator.userAgent) && /Google Inc/.test(navigator.vendor);
        if (!isChrome) {
            window.location.replace("https://www.google.com/chrome/");
        }
    </script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.min.js"></script>
    <script>
        var data = JSON.parse($('#variableJSON').text());
        $('#variableJSON').remove();
        var ctx = document.getElementById('myChart');
        const backgroundColor = [
            'rgba(255, 99, 132, 0.2)',
            'rgba(54, 162, 235, 0.2)',
            'rgba(255, 206, 86, 0.2)',
            'rgba(75, 192, 192, 0.2)',
            'rgba(153, 102, 255, 0.2)',
            'rgba(255, 159, 64, 0.2)'
        ];
        const borderColor = [
            'rgba(255, 99, 132, 1)',
            'rgba(54, 162, 235, 1)',
            'rgba(255, 206, 86, 1)',
            'rgba(75, 192, 192, 1)',
            'rgba(153, 102, 255, 1)',
            'rgba(255, 159, 64, 1)'
        ];
        function getColor(arr, nItems) {
            var result = [];
            for (var i = 0, j = 0; i < nItems; i++ , j++) {
                if (j == arr.length) j = 0;
                result.push(arr[j]);
            }
            return result;
        }
        var myChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: data.map(obj => { return obj.host; }),
                datasets: [{
                    label: '# of Votes',
                    data: data.map(obj => { return obj.time; }),
                    backgroundColor: getColor(backgroundColor, 8),
                    borderColor: getColor(borderColor, 8),
                    borderWidth: 1
                }]
            },
            // options: {
            //     scales: {
            //         yAxes: [{
            //             ticks: {
            //                 beginAtZero: true
            //             }
            //         }]
            //     }
            // }
        });
    </script>
</body>

</html>